@{

    ViewData["Title"] = "Upload Files";
}

<h2>@ViewData["Title"]</h2>

<section>
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" id="upload-form">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload a score HTML file using this form:</p>
                        <input type="file" id="upload-file" name="file" multiple />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" id="upload-button" class="ui-button" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 progress-bar-container">
            <div id="progress-bar-stick"></div>
            <div class="progress-bar-label">Loading ..</div>
        </div>
    </div>
</section>

@*Data Table*@
<section>
    <div class="well bs-component">
        <div class="row">
            <div class="col-md-12 col-md-push-0">
                <table id="pdfTable" class="display table table-striped table-bordered table-hover" cellspacing="0" align="center" width:"100%">
                    <thead>
                        <tr>
                            <th>Guid</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>ETag</th>
                           
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Guid</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>ETag</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>

    </div>
</section>

